@import '../base/variables';

.chat-box {
    min-height: calc(100vh - 74px);
    .message-content {
        padding: 1rem 2rem;
        overflow-y: auto;
        height: calc(100vh - 22.5rem);
        min-height: 60vh;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
            border-radius: 10px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #3366ff;
            border-radius: 10px;
            background-image: -webkit-linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0.5) 75%,
                transparent 75%,
                transparent
            );
        }
    }

    .form-bottom {
        position: absolute;
        bottom: 0;
        background: #f1f1f1;
        border-radius: 1rem;
        padding: 1rem;
        left: 0;
        right: 0;
        display: grid;
        grid-template-columns: auto max-content;
        gap: 1rem;
        align-items: center;
    }
}
