@import '../base/variables';

.header {
    .header-nav {
        .ant-menu-item-icon {
            font-size: 2rem;
        }
        .ant-menu-item {
            font-size: 2rem;
            height: 6rem;
            line-height: 6rem;
        }
    }
}
