@import '../base/variables';

.main-layout {
    display: flex;
    .content-container {
        border-left: 1px solid $light-grey-color;
        border-right: 1px solid $light-grey-color;
        min-height: 100vh;
        margin-bottom: 3rem;
    }
    .sidebar-container {
        padding-left: 2rem;
    }
}
